.container-child-1{
    background: rgb(179, 0, 255);
    height: 200px;
    width: 500px;
    color: aliceblue;
}
.container-child-2{
    background: red;
    height: 200px;
    width: 300px;
    color: white;
    left: 100px;
}
.container-child-3{
    background: green;
    height: 100px;
    width: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-item{
    color: red;
    font-size: 30px;
}